body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(0, 0, 0);
}
.container{
    position: relative;
    width: 256px;
    height: 256px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container span{
    position: absolute;
    left: 0;
    width: 32px;
    height: 6px;
    background: rgb(242, 242, 246);
    border-radius: 8px;
    transform-origin: 170px;
    transform: scale(2.2) rotate(calc(var(--i)*(360deg / 50)));
    animation: animateBlink 3s linear infinite;
    animation-delay: calc(var(--i) * (3s / 50));

}
@keyframes animateBlink {
    0%{
        background: blue;
    }
    25%{
        background: blue;
    }

}
.l1{
    position: absolute;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.l1 form{
    width: 100%;
    padding: 0 50px;


}
h2{
    font-size: 2em;
    color:rgb(255, 255, 255);
    text-align: center;
}
.l2{
    position: relative;
    margin: 20px;
}
.l2 input{
    width: 100%;
    height: 50px;
    background: white;
    border: 2px solid ;
    border-radius: 15px;
    padding: 0 20px;
    font-size: 16px;
}
.l2 label{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font-size: 1em;
    color: black;
    pointer-events: none;
    transition: .5s ease;
}
.l2 input:focus~label,
.l2 input:valid~label{
    top: -10px;
    font-size: 1em;
    padding: 0 6px;
    color: black;


}
.l3{
    margin: -5px 0 15px 5px;
    text-align: center;

}
.l3 label{
    color: #ffffff;
    font-size: 16px;
}
.l3 label input{
    accent-color: rgb(2, 2, 9);
}

.l7{

    width: 100%;
    height: 45px;
    background: black;
    box-shadow: 0 0 20px blue;
    font-size: 20px;
    color: rgb(249, 249, 255);
    font-weight: 500;
    cursor: pointer;
    border-radius: 40px;
    border: none;
    outline: none;
}
.l4{
    margin: 20px 0 10px;
    text-align: center;
    color: #ffffff;
}
.l4 a{
    font-size: 1em;
    color:blue;
    text-decoration: none;
    font-weight: 600;
}